/** @format */

@use "../../styles/variables" as *;

.app-footer {
  border-top: 1px solid rgba(15, 23, 42, 1);
  background: radial-gradient(
    circle at top,
    #020617 0,
    $color-surface-soft 50%
  );
  min-width: 100%;
  max-height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 10px;

}

.app-footer__text {
  text-align: left;
  font-size: 0.8rem;
  color: $color-text-muted;
}

.app-footer__social {
  p {
    text-align: left;
    font-size: 0.8rem;
    color: $color-text-muted;
  }

  display: flex;
  align-items: center;
  gap: 0.5rem;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    img {
      width: 50%;
      height: 50%;
      display: block;
      object-fit: contain;
    }
  }
  
}
/* MODO MÓVIL */
@media (max-width: 600px) {
  .app-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
    padding: 0px 10px;
    max-height: none;
    height: auto;
  }

  .app-footer__text {
    flex: 1;
  }

  .app-footer__social {
    flex: 0 0 auto;
    p {
      display: none;
    }

    gap: 0.2rem;

  }
}

